<section id="{{ site.data.contact.section | default: "contact" }}">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ site.contact.title | markdownify | default: Contact Us }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <address>
          {% for link in site.footer.social %}
          {% if link.url %}<a href="{{ link.url }}">{% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %} {{ link.text }}</a><br>{% endif %}
          {% endfor %}
        </address>
      </div>
    </div>
  </div>
</section>
