<footer class="bg-dark text-light" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md" id="{{ site.data.contact.section | default: "contact" }}">
        <h5 class="text-light">Contact</h5>
        <div class="d-none d-md-block">
          {% for link in site.footer.social %} {% if link.url %}
          <a href="{{ link.url }}" class="text-light">
            {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %} {{ link.text }}
          </a><br>
          {% endif %} {% endfor %}
        </div>
        <div class="d-md-none">
          {% for link in site.footer.social %} {% if link.url %}
          <a href="{{ link.url }}" class="btn btn-circle btn-light m-1">
            {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
          </a>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
    <div class="row align-items-center small text-muted">
      <div class="col">
        Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="legal" class="text-muted">{{ site.footer.legal | default: "Privacy Policy" }}</a>
      </div>
    </div>
  </div>
</footer>
